.banner {
  background:linear-gradient(135deg,rgba(236,238,243,0.2)0%,rgba(128,127,107,0.4)100%),
    url(https://static.pexels.com/photos/109669/pexels-photo-109669.jpeg);
  text-align: center;
  padding: 160px 0px;
  color: white;
  background-size: cover;
}
.btn {
  color: white;
  background: rgb(193,41,46);
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 50px;
  display: inline-block;
}

.btn:hover {
  background: #EF476F; 
}

.logo {
  position: absolute;
  left: 20px;
  top: 10px;
}

.title {
  font-size:90px;
  text-align: center;
  height: 170px;
text-align: center;
color: white;
}

.sign-up, .login {
  color: white;
}

.menu {
  position: absolute;
  top: 10px;
  right: 20px;
}

.titre {
  font-size:80px;
  text-align: center;
  height: 170px;
text-align: center;
color: rgb(193,41,46);

}

.container {
    background:linear-gradient(135deg,rgba(236,238,243,0.9)0%,rgba(128,127,107,0.4)100%);
    padding: 10px 10px;
  background-size: cover;
  text-align : center;
  font-size:20px;
}


.col-sm-4:hover {
  background: #F4F5F4;
  opacity: 1;
   }

.click {
  color: white;
  background: rgb(193,41,46);
  padding: 20px 30px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-size : 20px;
}
.click:hover {
  background: rgb(241,211,2); 
}

.newsletter {
  background:#6B0F1A;
  padding: 20px 0px;
  color: white;
  background-size: cover;
  font-size:30px;
  text-align: center;
}

.found {
  background :#8E2E2E;
  text-align: center;
  color : white;
}

.fa {
  font-size : 20px;
  color: white;
}

.footer {
  background: rgb(193,41,46);
  text-align: center;
}